{% extends 'medical/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Медицинский центр "МедЭксперт»</h1>
</div>
<div class="b-about-director">
    <div class="container">
        <div class="b-about-director__box">
            <div class="b-about-director__image">
                <picture>
                    <source srcset="https://cdn.mchelp.ru/i/webp/chief-foto.webp"
                            type="image/webp">
                    <img loading="lazy"
                         src="https://cdn.mchelp.ru/i/webp/chief-foto.webp">
                </picture>
            </div>
            <div class="b-about-director__text">
                <div class="text">
                    <p>
                        Медицинский центр создан для оказания лечебно-диагностической помощи населению по разным
                        направлениям. Специалисты медицинского центра окажут
                        высококвалифицированную помощь и найдут подход к каждому пациенту.
                    </p>
                    <p>
                        Медицинский центр основан в 1997 году и с тех пор является одной из наиболее успешных частных
                        компаний нашего городав своей сфере.
                    </p></div>
                <div class="b-about-director__sign">
                    <div><b>Беспалов Артем Вадимович</b><br>главный врач медицинского центра
                        «МедЭксперт»
                    </div>

                </div>
            </div>
        </div>

        <div class="b-about-team">
            <div class="container">
                <div class="b-about-team__box">
                    <div class="b-about-team__left">
                        <div class="text">
                            <div style="text-align: center;"><h2>Специалисты «МедЭксперт»</h2>
                                <picture>
                                    <source srcset="https://avatars.mds.yandex.net/i?id=e3bbabd5871ecc7fcaa32e115bfa87d7_l-7989082-images-thumbs&n=13"
                                            type="image/webp" style="width:800px;">
                                    <img loading="lazy"
                                         src="https://avatars.mds.yandex.net/i?id=e3bbabd5871ecc7fcaa32e115bfa87d7_l-7989082-images-thumbs&n=13"
                                         style="width:800px;">
                                </picture>
                            </div>
                            <p>
                                «МедЭксперт» - это не просто надежный медицинский центр. Мы уважаем индивидуальность
                                каждого пациента, его личные предпочтения, потребности и возможности. Поэтому многие из
                                тех, кто еще недавно впервые переступил порог центра, сегодня доверяют
                                ему не только свое здоровье, но и здоровье своих близких.
                            </p>
                            <p>
                                Уникальная команда специалистов. Наши специалисты – это доктора и кандидаты наук, врачи
                                высшей категории, которые имеют многолетний опыт практической работы как в России, так и
                                в Европе; они регулярно повышают квалификацию и занимаются научной деятельностью,
                                постоянно подтверждая свой высочайший уровень профессионализма. В медицинском центре
                                действуют специально разработанные авторские методики лечения, а некоторые
                                диагностические и лечебные процедуры являются эксклю-зивными для области.
                            </p>
                            <p>
                                В наших медицинских центрах работают врачи как самых востребованных медицинских
                                специальностей: терапевты, кардиологи, урологи, гинекологи, офтальмологи,
                                оториноларингологи, хирурги и другие, так и редких: генетики, репродуктологи,
                                эмбриологи, гепатологи и другие.
                            </p>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}