{% extends 'medical/base.html' %}
{% load my_tags %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for record in object_list %}
            {% if user == record.user or user.is_superuser %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-text">Запись {{ record.id }} </h5>
                        <p class="card-text">{{ record }} </p>
                        <p class="card-text">Запись создана: {{ record.created_at }}</p>
                        <p class="card-text">Ожидаем вас: {{ record.record_time }}</p>
                        {% if record.diagnosis %}
                        <p class="card-text">Диагноз: {{ record.diagnosis }}</p>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if user == record.user or user.is_superuser %}
                                <a class="btn btn-outline-primary"
                                   href="{% url 'users:record_edit' record.pk %}"
                                   role="button">Изменить</a>
                                <a class="btn btn-outline-secondary"
                                   href="{% url 'users:record_delete' record.pk %}"
                                   role="button">Отменить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}